body{
	background-color:#ededed;
	margin:0px;
	font: 400 24/26px 'Bree Serif', Georgia, sans-serif;
	color: #111111;
	text-align: justify;
  text-justify: inter-word;
}
h1{font: 400 28px/30px 'Garamond', monospace; color: #111111;}
h2{font: 400 20px/22px 'Garamond', monospace; color: #111111;}
h3{font: 400 18px/20px 'Bree Serif', Georgia, serif; color: #111111;}
ul{margin:0px; padding:0px;}
a {text-decoration:none; color: #111111;}
a:hover {color: #111111;}
a img{border:0px;}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.8;
}

#container{
	width:950px;
	margin:0px auto 0px auto;
	background-color: #fffefa;
	overflow:auto;
	padding-bottom:50px;
}

/****************************************************/
/* HEADER */
/****************************************************/

#header{
	width:864px;
	height:115px;
	background-color:#edeada;
	opacity:0.7;
	padding:0px 43px;
	position: fixed;
	top:0px;
	left:50%;
	margin: 0 0 0 -475px;
}
#header #logo{
	padding-top:40px;
	float:left;
	font: 400 38px/40px 'Garamond', monospace;
}
#header #main-menu{float:right; padding-top:45px;}
#header #main-menu li{
	float:left;
	list-style:none;
	margin-left:27px;
	font: 400 24px/40px 'Garamond', monospace;
	color: #DEB887;
}

/****************************************************/
/* about SECTION */
/****************************************************/

#about{margin:0px 43px; padding-top:30px;}
#about .content{overflow:auto;}
#about .content img{float:left; margin-right:40px; border:5px solid #222222;}


/****************************************************/
/* publication SECTION */
/****************************************************/

#research{margin:0px 43px; padding-top:30px;}
#research .content{overflow:auto;}
#research .content img{float:left; margin-right:40px; border:5px solid #222222;}


/****************************************************/
/* media SECTION */
/****************************************************/

#teaching{margin:0px 43px; padding-top:30px;}
#teaching .content{overflow:auto; text-align:center}
#teaching .content img{float:middle; margin-right:0px; opacity:1.0; border:0px solid #edeada;}


/****************************************************/
/* art SECTION */
/****************************************************/

#art{margin:0px 43px; padding-top:30px;}
#art .content{overflow:auto; text-align:center}
#art .content img{float:middle; margin-right:0px; opacity:0.8; border:0px solid #edeada;}


/****************************************************/
/* contact SECTION */
/****************************************************/
#contact{margin:0px 43px; padding-top:30px;}
#contact .content{overflow:auto;}
#contact #social-footer{
	width:300px;
	float:left;
}
#contact #social-footer #sm-links{margin-top:15px;}
#contact #social-footer #sm-links li{
	list-style:none;
	float:left;
}
#contact #social-footer #sm-links li a{
	display:block;
	text-indent:-9999px;
	width:26px;
	height:26px;
	margin-right:10px;
}
#contact #social-footer #sm-links li a.github{background:url(images/sm-github-icon.png) no-repeat;}
#contact #social-footer #sm-links li a.twitter{background:url(images/sm-twitter-icon.png) no-repeat; width:31px;}
#contact #social-footer #sm-links li a.linkedin{background:url(images/sm-linkedin-icon.png) no-repeat;}

/****************************************************/
/* MISC */
/****************************************************/
